#round {
  color: teal;
}

.button-div {
  display: flex;
  justify-content: center;
}

.simon-container {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
  height: 50;
  align-items: flex-start;
}

.block {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

#red {
  background-color: #500;
}

#green {
  background-color: #050;
}

#blue {
  background-color: #005;
}

#yellow {
  background-color: #550;
}
